@import "tailwindcss";
body {
  background-color: #0f172a; /* Dark Eco Theme */
  color: #f8fafc;
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0f172a;
}
::-webkit-scrollbar-thumb {
  background: #10b981;
  border-radius: 4px;
}
